
<section class="footer">
    <div class="container">
    	<div class="row">
        	<div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<h4>Contact</h4>
                	<ul>
                      <li class="line_rv"><a href="canon-printer-support.php">Adress:2-214/1
                      </a></li>
               
                        <li><a href="hp-printer-support.php">Street:Srinagar</a></li>
                        <li><a href="dell-printer-support.php">Contact no:9675423987</a></li>
                      
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4" id="demo">
            	<div class="footer_dv">
                	<h4>Detais</h4>
                	<ul>
                    	<li><a href="tosiba-printer-support.php">Product</a></li>
                      <i class="fa fa-address-card" aria-hidden="true">Email id:srinidhi@gmail.com</i>
                       <i class="fa fa-facebook" aria-hidden="true">Facebook id:Lalitha@gmail.com</i>
                        
                        
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
            	<div class="footer_dv">
                	<h4>Details of Product</h4>
                	<p>PGet the right products in front of the right customers at the right time. SAP Hybris Product Content Management puts you in control of the customer experience. It’s easy to keep catalogs updated, add new products or change offers and do it all in hours, not weeks. Make it easy for your customers to find what they want with SEO and brand consistent marketing campaigns. And, it’s built as a core component of SAP Hybris Commerce Cloud, enabling you to deliver engaging and consistent product information across all channels.</p>

				
              </div>
            </div>
        </div>
    </div>
</section>