
<div class="container-fluid">
  <div class="row" id="section3">
<div class="col-md-12">
  <div class="col-md-4" id="sec3">
  <p>Quickly get complex new products, such as bundled offers, online without IT intervention.</p>
  <p>uickly get complex new products, such as bundled offers, online without IT intervention.</p>
  <p>uickly get complex new products, such as bundled offers, online without IT intervention.</p>
  </div>
  <div class="col-md-4">
  <img src="assets/images/pic4.jpg">
  </div>
  <div class="col-md-4" id="sec3">
   <p>Hansgrohe is a major player in the sanitary fittings industry, and is the world’s largest manufacturer of shower heads. Here Markus Armbruster, eCommerce Channel Development Manager, explains how SAP Hybris Commerce enabled Hansgrohe to deliver a great experience to their B2B and B2C customers.</p>
  </div>
  </div>

</div>